@font-face {
    font-family: 'Billamount'; /*a name to be used later*/
    src: url('assets/BillaMount-Regular.ttf'); /*URL to font*/
}

body {
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
    overflow: hidden;
    font-family: Billamount;
}